<html>
<head>
	<title>FAQ's</title>
	 <link rel="stylesheet" href="../styles/faq.css">
</head>
<body>
	<div class="container">
		<div class="row" style="margin-top:50px;">
			<div class="col-md-9">
				<input type="text" placeholder="Enter the text " class="form-control" id="txtSearch" width="100px" height="80px"><br/>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-primary">
				    	<div class="panel-heading" >
				      		<h4 class="panel-title">
				        		<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				          			HOW CAN I  BECOME A MEMEBER OF FOODLOVERS?
				        		</a>
				      		</h4>
				    	</div>
				    	<div id="collapseOne" class="panel-collapse collapse in">
				      		<div class="panel-body">
				      			Contact us,Dm linkedin
				      		</div>
				    	</div>
				    </div>
				    <div class="panel panel-primary">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					          HOW CAN I DOWNLOAD THE RECEPIES?

					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse">
					      <div class="panel-body">
					      		 yes! you can download the recepie from clicking on download button below video
					       </div>
					    </div>
				  	</div>
				  	<div class="panel panel-primary">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					           HOW DO YOU GUYS MADE THIS?
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse">
					      <div class="panel-body">
					      	 we made this as our project , given as assignment
					       </div>
					    </div>
				  	</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>