body{
  background-position: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(36deg,#704444,#6252d7,rgb(222, 0, 0),rgb(255, 255, 255));
background-size: 300% 300%;
animation: color 3s ease-in-out infinite ;
}
@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

h5{
  font-family: sans-serif;
}
.btn:hover{
background-color: rgb(130, 0, 98);

}
.card{
  background: linear-gradient(36deg,#ebebeb,#c1b9ff,rgb(228, 197, 151),rgb(142, 253, 255));
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite ;
}